body {
  margin: 0;
  background: #dedede;
  display: grid;
  align-items: center;
  height: 100vh;
  font-family: 'Arial';
}

body section .info {
  display: flex;
  justify-content: center;
}

.gameboard {
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  max-height: 60vh;
  max-width: 60vh;
}

.color {
  width: 50%;
  height: 50%;
  display: inline-block;
}

section .info h1 {
  position: absolute;
  top: 0px;
  margin: 0;
  color: rgb(115, 39, 202);
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  background-color: #db8bb1;
}

section .info p {
  padding: 5px 100px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  text-align: center;
  margin: 10px auto;
}

.left {
  float: left;
}

.right {
  float: left;
}

.celeste {
  background: #22a6b3;
}

.celeste.light {
  background: #7ed6df;
}

.violeta {
  background: #be2edd;
}

.violeta.light {
  background: #e056fd;
}

.naranja {
  background: #f0932b;
}

.naranja.light {
  background: #ffbe76;
}

.verde {
  background: #6ab04c;
}

.verde.light {
  background: #badc58;
}

.btn-start {
  width: 400px;
  height: 100px;
  background: #ecf0f1;
  color: #2c3e50;
  font-size: 2.5rem;
  position: absolute;
  top: calc(65% - 50px);
  left: calc(50% - 200px);
}

.hide {
  display: none;
}
